<% if user_signed_in? %>
<%= link_to 'Logout', destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to 'Login', new_user_session_path %>
<%= link_to 'Sign Up', new_user_registration_path %>
<% end %>


<div id="all-rooms">


<div id='mask' class='close_modal'></div> 


<ul>
	<% @rooms.each do |room| %>
	<li>
		<%= link_to room.name, room_path(room) %>
	</li>
	<% end %>
</ul>

	<div id="create-room-link" class="modal">Create Room!</div>


<div id="create-room" class="modal-window">
	
<%= form_for @room, url: "/home/create" do |f| %>
	
	<%= f.label "Room Name:" %>
	<%= f.text_field :name, size: "15" %>
<br>

	<%= f.submit %>

<% end %>

<!-- 	<input type="text" name="search_box" id="search-text" size="25" placeholder="Enter the room name" autofocus>
	<div id="create-room-button">Create!</div> -->

</div>



</div>

