<div id = "splash-wrapper">
	<div id="splash-title"></div>
	<div id='mask' class='close_modal'></div> 
	<header>
		<ul id="splash-logo">
			<li><span id="logo-first-word">boom</span> <span id="logo-slash">//</span> <span id="logo-second-word">room</span></li>
		</ul>
		<ul id="splash-nav">
			<% if current_user %>
				<li><a id="next" href="/home/index"><i class="fa fa-arrow-right"></i></a></li>
				<li id="sign-out-link"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li class="links modal" id="sign-in-link">Sign In</li> 
				<li class="links modal" id="sign-up-link">Sign Up</li>
			<% end %>
		</ul>		
	</header>		
	<div id="temp-link">
		<%= link_to "Rooms", all_rooms_path %>
	</div>
	<div id="quote-first-line"><span class="quote">"</span>Without music,</div>
	<div id="quote-second-line">life would be a mistake.<span class="quote">"</span></div>
	<div id="quote-author">- Friedrich Nietzsche</div>

	<div id="sign-in" class="modal-window splash-modal">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<div>
			  <%= f.email_field :email, :placeholder => 'E-mail', :autofocus => true %>
			</div>
			<div>
			  <%= f.password_field :password, :placeholder => 'Password' %>
			</div>
				<% if devise_mapping.rememberable? -%>
				  <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
				<% end %>
		  <div>
		  	<%= f.submit "Sign in" %>
		  </div>
		<% end %>
	</div>

	<div id="sign-up" class="modal-window splash-modal">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			<%= devise_error_messages! %>
			<div>
			  <%= f.email_field :email, :placeholder => 'E-mail', :autofocus => true %>
			</div>
			<div>
			  <%= f.text_field :username, :placeholder => 'Username' %>
			</div>
		  <div>
			  <%= f.password_field :password, :placeholder => 'Password' %>
			</div>
		  <div>
			  <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation' %>
			</div>
		  <div>
		  	<%= f.submit "Sign up" %>
			</div>
		<% end %>
	</div>
</div>




