
<div class="room" id="room-<%= @room.id %>">

	<div id="page-left">
		<div id="song-controller">
			<div id = "currently-playing">
				<h4>Currently Playing // <span id="current-track"></span></h4>
			</div>
			<div id="side-by-side">
				<div id="slider"></div>
			<!-- 	<div id="vol-tag">Volume</div> -->
					<div class="controller-buttons" id="mute">Mute</div>
				<div class="controller-buttons" id="like">Likes: <span class="num"><%= @likes || 0 %></span></div>
				<div class="controller-buttons" id="dislike">Dislikes: <span class="num"><%= @dislikes || 0 %></span></div>
			</div>
		</div>

		<div id="playlist-userlist">
			<div id="users-container">
				<h4>Users //</h4>
				<div id="users">
							<ul id="current-users">
									<% @users.each do |user| %>
								<li id="<%= user.id %>">
									<%= user.username %>
								</li>
									<% end %>	
							</ul>
					</div>

			<div id="playlist-container">
				<h4>Playlist //</h4>
				<div id="playlist-div">
					<ul id="playlist">
						<% @playlist.each do |song| %>
							<li><i class="fa fa-chevron-right"></i><%= song.title %></li>
						<% end %>
					</ul>
				</div>
			</div>

		</div>
	</div>

	<div id="page-right">
		<div id="main-page">
			<div id="logo-search">
				<i class="fa fa-search"></i>
			</div>

			<div id="logo-chat">
				<i class="fa fa-comment-o"></i>
			</div>
			<div id="album-art-container" class="masonry"></div>
			
			<div id="chatroom">
				<div id="messages"></div>
				<div id="mess-wrap">
					<div id="message-input-wrap">
						<input id="message-input" type="text" placeholder="Enter message here..." />
					</div>
					<div id="send-button">
						<i id="send" class="fa fa-chevron-right"></i>
					</div>
				</div>
			</div>
		</div>

		<div id="search-bar">
			<div id="search-wrapper">
				<div id="search">
					<input type="text" name="search_box" id="search-text" size="27" placeholder="  Search" disabled>
				</div>
				<div id="search-button">
					<i id="search-chevron" class="fa fa-chevron-right"></i>
				</div>	
			</div>

			<div id="search-results">	

			</div>

		</div>

	</div>

</div>